.profile {
    width: 410px;
    margin: 74px auto 70px auto;
}

.profile__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    margin-bottom: 17px;
}

.profile__label:last-of-type {
    margin-bottom: 0;
}

.profile__label-text {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    color: #000000;
}

.profile__title {
    margin: 0 0 123px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.profile__links {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.profile__link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.profile__link_exit {
    color: #FF4062;
}