.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 664px;
    background-color: #F3C1F8;
    background-image: url("../../images/promo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.promo__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    /* or 116% */

    letter-spacing: -0.04em;

    color: #000000;
    width: 730px;
}