.navigation {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navigation__items {
    list-style: none;
    display: flex;
    column-gap: 16px;
    flex-grow: 1;
    margin: 0 0 0 59px;
}

.navigation__item_mobile {
    display: none;
}

.navigation__item {
    font-style: normal;
    font-weight: 400;
    opacity: 0.85;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;

    text-align: right;

    color: #000000;
}

.navigation__item_active {
    opacity: 1;
    font-weight: 500;
}

.navigation__item:hover {
    opacity: .7;
}

.navigation__item_icon {
    display: flex;
    align-items: center;
    column-gap: 13px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.navigation__item-icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navigation__item-icon_profile {
    background-image: url(../../images/account.svg);
}