.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
    margin: 0 70px;
    width: calc(100% - 140px);
}

.footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    width: 320px;
    margin: 79px auto 20px auto;
    text-align: center;

    color: #A0A0A0;
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E8E8E8;
    padding: 20px 0;
}

.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    color: #000000;
}

.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    text-align: right;

    color: #000000;
}