.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px 0;
    background-color: #000000;
}

.nav__items {
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.nav__item:hover {
    opacity: .7;
}

@media screen and (max-width: 450px) {
    .nav {
        padding: 25px 0;
    }

    .nav__items {
        gap: 24px;
    }

    .nav__item {
        font-size: 11px;
    }
}